<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'accounts')}">

  <body>

    <h2>Account</h2>

    <table id="Account" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">UserID</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="account : ${selections}">
              <td>
                  <a th:href="@{/accounts/__${account.userID}__}" th:text="${account.userID}"/></a>
              </td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
