<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
		<h1>New Account Registration For CyCap!</h1>
        <form action '#' th:action="@{/register}" th:object="${register}" method="post">
            <p> User Name: <input type="text" th:field="*{username}"/> </p>
            <p> Password: <input type="password" th:field="*{userpassword}"/> </p>
	    <p> Email: <input type="text" th:field="*{email}"/> </p>
            <p><input type="submit" value="Submit Registration"/><input type="reset" value="Reset"/></p>
        </form>
    </body>
</html>