<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'account')}">

<body>

  <h2>Owner</h2>
  <form th:object="${account}" class="form-horizontal" id="add-account-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('User Id', 'userID')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Password', 'password')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Email Address', 'email')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${account['new']} ? 'Add Account' : 'Update Account'"
          class="btn btn-default" type="submit" th:text="${text}">Create
          Account</button>
      </div>
    </div>
  </form>
</body>
</html>
