<!DOCTYPE html>

<!--
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'accounts')}">
-->

  <body>
  
  
    <h2>CyCap Account Information</h2>
  
    <table class="table table-striped" th:object="${account}">
      <tr>
        <th>User ID: </th>
        <td><b th:text="*{userID}"></b></td>
      </tr>
   	<tr>
        <th>Password: </th>
        <td th:text="*{password}" /></td>
      </tr>
      <tr>
        <th>Email Address: </th>
        <td th:text="*{emails}" /></td>
      </tr>
    </table>
  
  </body>

</html>