
<html>
<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>


<head>
<ul>
  <li><a class="active" href="/accounts/chat">Chat</a></li>
  <li><a href="/game_list">Available Games</a></li>
  <li><a href="/accounts/profile">Profile</a></li>
</ul>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<h1 id="user"/> 


	<h5 id="user"> </h5> 	<h2> Friends List</h2>


	<script th:inline="javascript">
		/*<![CDATA[*/
		
		let temp = /*[[${account.getUserID()}]]*/;
		temp += "\'s FriendsList";
		document.getElementById("user").innerHTML = temp;
		
		
		/*]]>*/
	</script>
	
	<form th:action="@{/accounts/friendAdd}"  method="post" th:object="${friend}">	
	<p><input type="text" th:field="*{userID}" /> <input type="submit" value="Add Friend" /></p>
	</form>
	
	<form th:action="@{/accounts/friendRemove}"  method="post" th:object="${friend}">	
	<p><input type="text" th:field="*{userID}" /> <input type="submit" value="Remove Friend" /></p>
	</form>
	
<body>	
  <table id="friends" class="table table-striped">
    <thead>
      <tr>
        <th>Player Id</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="friend : ${friends.friendList}" >
        <td th:text="${friend}"><span
          th:if="${friends.friendList == 0}">none</span></td>
          
 <form>         
		<td><input class="msgbtn" value="Chat" type="submit"/></td>
		</form>
		
<form>
	<td> <input class="btn" name="Invite" value="Invite" type="submit" id="remove"/>
	
	
	<!--
	<script  th:inline="javascript">
	function showTdSecond(_this) {
	
		var friend = _this.parentNode.previousElementSibling.previousElementSibling.previousElementSibling.textContent;
		document.getElementById('remove').value = friend; 
 		alert(_this.parentNode.previousElementSibling.previousElementSibling.previousElementSibling.textContent);
	}
	</script>
	-->
	
	</td> 
</form>	


		
    </tr>
    </tbody>
  </table>
</body>
</html>
