<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>CyCap</title>
		<link rel="stylesheet" href="css/main_page.css"/>
	</head>
	
	<body>
		<div class="topnav">
			<h1>CyCap</h1>
			<a href="about.html" id="logo"><img src="res/webpage/Team_IA_logo10.png" width="128" height="128"/></a> <!-- this would probably lead to the about page when you click on it -->
			<a href="main_page.html">Home</a>
			<a href="how_to.html">How To Play</a>
			<a href="about.html">About the Team</a>
		</div>

		<div class = "section2">
			
			<button><a href="play.html">Play Now</a></button>
			<button><a href="accounts/log.html">Log In</a></button>
			<button><a href="accounts/register.html">Create Account</a></button>
		</div>
		<script type="text/javascript" src="scripts/main_page.js"></script>
	</body>
</html>